@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* Body */
.device-body{
  margin: 25px auto 0 auto;
  padding-top: 25px;
  width: 300px;
  height: 560px;
  background-image: url('../img/device-body.png');
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Status bar */
.device-statusbar{
  margin: 42px auto 15px auto;
  width: 90%;
  height: 20px;
  background-color: #111;
  opacity:0.8;
}

#timer{
  color: #c2e2f9;
  float: right;
  font-weight: lighter;
  font-size: 12px;
  margin: 4px 5px 0 0;
}

/* Screen */
.device-screen{
  margin: 0 auto;
  width: 79%;
  background-color: #c2e2f9;
  border-radius: 3px;
  box-shadow: inset 0 2px 2px #5E6370, 0px 1px #222;
  box-sizing: border-box;
  border: 1px solid #181A20;
}

.device-screen p{
  font-family: 'Inconsolata', sans-serif;
  line-height: 2px;
  margin-left: 12px;
  font-size: 20px;
}

/* Layout options menu */
ul {
  margin: 0 auto;
  text-align: center;
}
ul li{
  list-style: none;
  display: inline-block;
  margin-top: 10px;
}

a { padding: 10px; }
a, a:visited { color: #1642c7 }
a.selected { background-color: #a9bbf2; }

@media screen and (max-width: 600px) {
  html, body { overflow: hidden; }

  body { background-color: #272b36; }

  .device-body{
    width: 100%;
    margin-top: 7px;
    padding-top: 0;
    background-image: none;
  }
  .device-statusbar{ display: none; }
  #timer{ display: none; }

  .number-keys button, .action-keys button{
    width: 74px;
    height: 39px;
    font-size: 22px;
  }

  .number-keys p{
    margin: 10px 0;
  }

  .action-keys{ margin-top: 25px; }
}
