@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

/* Body */
.device-body{
  background-image: url('../img/device-body-white.png');
}

/* Status bar */
.device-statusbar{
  margin: 42px auto 7px auto;
  width: 90%;
  height: 20px;
  background-color: #111;
  opacity:0.8;
}

/* Screen */
.device-screen{
  margin: 0 auto;
  width: 85%;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  box-sizing: none;
  border: none;
  margin-bottom: 40px;
}

.device-screen p{
  font-family: 'Droid Sans Mono', sans-serif;
  letter-spacing: 0.5px;
  line-height: 6px;
  margin-left: 12px;
  font-size: 19px;
  color: #777;
}

/* Keyboard */
.device-keyboard{
  margin: 0 auto;
  width: 83%;
  text-align: center;
  height: 250px;
}

.device-keyboard table{
  width: 100%;
  height: 100%;
}

button{
  outline: none;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50px;

  border: 1px solid #bcc3c8;
  background-color: #fff;
  color: #bcc3c8;
  font-size: 26px;
}

.device-keyboard button:active{
  margin-top: 2px;
  margin-bottom: -2px;
}

/*
.device-keyboard #btn-func  { color: #fff; border-color: #bec3c7; background-color: #bec3c7; }
*/
.device-keyboard #btn-cancel{ color: #fff; border-color: #ea4500; background-color: #ea4500; }
.device-keyboard #btn-back  { color: #fff; border-color: #fbd500; background-color: #fbd500; }
.device-keyboard #btn-enter { color: #fff; border-color: #00c97b; background-color: #00c97b; }
